html {
  background: #f2f2f2;
}

#container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200%;
  width: 1200px;
  border-style: solid;
  padding: 10px;
}

#headerText { /* Header text */
  color: green;
  font-family: "Dancing Script OT";
  font-size: 35pt;
  text-align: center;
}

#headerImg { /* Header image */
  position: absolute;
  top: 90px;
  left: 145px;
}

#facebook img{
  position: absolute;
  top: 150px;
  left: 1025px;
}

#twitter img{
  position: absolute;
  top: 150px;
  left: 1090px;
}



/* Navbar container */
.subheader_bar {
  float:none;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.subheader_bar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.subheader_bar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.block {
  display: block;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

#mainBlockImg {
  display: inline-block;
  padding: 10px;
  top: 375;
  left: 250px;
  right: 250px;
}

.divs {
  padding: 5px
}

#infoBox {
  display: flex;
}

#location {
  flex: 1;
}

#hours {
  flex: 1;
}

#email {
  flex: 1;
}

.block p { /*FlexBox styling*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  width: auto;
  height: 50px;
  background-color: red;
  color: white;
  font-family: "Josefin Sans";
  font-size: 12pt;
}

.newsletter {
  float: right;
  padding: 5px;
  width: 950px;
  background-color: #f2f2f2;
}

/* Style the input element and the submit button */
input[type=text], input[type=submit] {
  float: inherit;
  width: 50%;
  padding: 10px;
  margin: auto;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
}

/* Stylize the submit button */
input[type=submit] {
  padding: 10;
  float: inherit;
  background-color: green;
  width: auto;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 1;
}

#newsletterTitle {
  float: right;
  color: black;
  font-family: "Josefin Sans";
  font-size: 15pt;
}
