html {
  background: #f2f2f2;
}

#container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200%;
  width: 1200px;
  border-style: solid;
  padding: 10px;
}

#headerText { /* Header text */
  color: green;
  font-family: "Dancing Script OT";
  font-size: 35pt;
  text-align: center;
}

#headerImg { /* Header image */
  position: absolute;
  top: 90px;
  left: 145px;
}

#facebook img{
  position: absolute;
  top: 150px;
  left: 1025px;
}

#twitter img{
  position: absolute;
  top: 150px;
  left: 1090px;
}

/* Add background color to the top navigation */
.subheader_bar {
  background-color: red;
  overflow: hidden;
  width: auto;
  background-color: red;
  text-align: center;
}

/* Style the links inside the navigation bar */
.subheader_bar a {
  color: #f2f2f2;
  padding: 14px 16px;
  font-size: 15px;
  font-family: "Josefin Sans";
}

/* Change the color of links on hover */
.subheader_bar a:hover {
  background-color: #00e6e6;
  color: black;
}

.block {
  display: block;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

#mainBlockImg {
  display: inline-block;
  padding: 10px;
  top: 375;
  left: 250px;
  right: 250px;
}

.divs {
  padding: 5px
}

#infoBox {
  display: flex;
}

#location {
  flex: 1;
}

#hours {
  flex: 1;
}

#email {
  flex: 1;
}

.block p { /*FlexBox styling*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  width: auto;
  height: 50px;
  background-color: red;
  color: white;
  font-family: "Josefin Sans";
  font-size: 12pt;
}

.newsletter {
  float: right;
  padding: 5px;
  width: 950px;
  background-color: #f2f2f2;
}

/* Style the input element and the submit button */
input[type=text], input[type=submit] {
  float: inherit;
  width: 50%;
  padding: 10px;
  margin: auto;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
}

/* Stylize the submit button */
input[type=submit] {
  padding: 10;
  float: inherit;
  background-color: green;
  width: auto;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 1;
}

#newsletterTitle {
  float: right;
  color: black;
  font-family: "Josefin Sans";
  font-size: 15pt;
}

/* About Us HTML page css stuff below! */
