html {
  background: #f2f2f2;
}

#container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200%;
  width: 1200px;
  border-style: solid;
  padding: 10px;
}

#header { /* Header text */
  color: green;
  font-family: "Dancing Script OT";
  font-size: 35pt;
  text-align: center;
}

#headerImg { /* Header image */
  position: absolute;
  top: 100px;
  left: 55px;
}

#facebook img{
  position: absolute;
  top: 150px;
  right: 200px;
}

#twitter img{
  position: absolute;
  top: 150px;
  right: 140px;
}

.subheader_bar { /* Subheader bar styles, the 'NavBar' */
  display: inline;
  margin: auto;
  padding: 10 px;
  background-color: #e96133;
  text-align: center;
}

#subheader_bar ul {
  min-width: 700px;
  list-style: none;
  padding-top: 20px;
  color: white;
  font-family: "Josefin Sans";
  font-size: 20;
}

#subheader_bar li {
  display: inline;
  float: inherit;
  color: white;
  font-family: "Josefin Sans";
  font-size: 20;
}

.block {
  display: block;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

#mainBlockImg { /*Main Image in the Block*/ 
  display: inline-block;
  padding: 0px;
  top: 375;
  left: 300;
  right: 300;
  width: 50%;
}

.block p { /*Text box underneath the mainBlockImg*/
  padding: 5;
  margin: auto;
  width: 561px;
  height: auto;
  background-color: #e96133;
  color: white;
  font-family: "Josefin Sans";
  font-size: 12;
}
